@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Lato:wght@400;700&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  text-align: center;
}

.header__title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__subtitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.header__owner-chef {
  font-style: italic;
  font-size: 1.5rem;
}
.header__btn {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #28a745;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .header__title {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 3rem;
    line-height: 1;
  }

  .header {
    font-size: 20px;
    line-height: 1.2;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .header__owner-chef {
    font-size: 1.2rem;
  }
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  /* overflow: hidden; */
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: stretch;
}

.menu__meal {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-appearanece: none;
}
.menu__title {
  margin-top: 20px;
}
/* .menu__meal > section {
  padding: 15px;
} */
.menu__subtitle {
  text-align: center;
  margin-bottom: 10px;
  /* margin-top: 20px; */
  color: #333;
  font-size: 2em;
  font-weight: 600;
}

.menu__item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__subsubtitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 15px;
  color: #333;
  font-size: 1.25em;
  font-weight: 500;
}

.menu__item-title {
  color: #333;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
  height: 40px;
}

.menu__item-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu__item-description {
  color: #666;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  height: 87px;
  /* height: 108px; */
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none; /* remove bullet dots */
  margin-top: 0px;
  padding: 0;
}

.menu__item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu__item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.menu__item-quantity-minus,
.menu__item-quantity-plus {
  width: 30px;
  height: 100%;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.menu__item-quantity-minus:hover,
.menu__item-quantity-plus:hover {
  background-color: #555;
}

.menu__item-quantity-input {
  width: 40px;
  height: 100%;
  margin: 0 10px;
  padding: 0 5px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  text-align: center;
}
.menu__item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.menu__item-quantity-input::-webkit-outer-spin-button,
.menu__item-quantity-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.menu__item-quantity-change {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.order > * {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-appearanece: none;

  font-size: 18px;
  width: 150px;
}
.room-number-input {
  padding: 12px 20px;
  border-radius: 30px;
  border: 0;
}
.order-button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #28a745;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.order-button:hover {
  background-color: #218838;
}

.highlight-input {
  background-color: rgb(194, 194, 194);
  font-weight: 600;
}

.menu__allergen-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  -webkit-appearanece: none;

  resize: vertical;
  min-height: 116px;
  max-height: 216px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.menu__allergen-input::placeholder {
  font-size: 16px;
  color: rgba(255, 0, 0, 0.7);
}
#w2ui-popup > .w2ui-box > .w2ui-popup-body {
  font-size: 16px;
  white-space: pre-line;
  padding: 0 2em;
  font-family: "Lato", sans-serif;
}
.w2ui-popup-body > .highlight {
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
}
.w2ui-popup-body > .bigger {
  font-size: 1.3em;
}

button[data-click='["action","Yes","event"]'] {
  background-color: rgb(63, 143, 61);
  background-image: none;
  color: white;
  cursor: pointer;
}
button[data-click='["action","No","event"]'] {
  background-color: rgb(222, 68, 70);
  background-image: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 600px) {
  .menu__item-image {
    width: 260px;
    height: 260px;
  }

  .menu__item {
    width: 100%;
  }
  .menu__item-description {
    width: 260px;
    margin: 14px auto;
  }
  .menu__item {
    font-size: 1.25rem;
  }
  .menu__item-quantity {
    height: 45px;
  }
  .menu__item-quantity-input {
    font-size: 20px;
  }
  .menu__item-quantity-minus,
  .menu__item-quantity-plus {
    font-size: 26px;
    width: 50px;
  }
  .menu__allergen-input {
    font-size: 22px;
    min-height: 116px;
  }
  .w2ui-btn {
    font-size: 20px !important;
  }
}
@media (max-width: 450px) {
  .menu__allergen-input {
    min-height: 116px;
  }
  .menu__meal {
    width: 80%;
  }
  .menu__item-image {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 320px) {
  .w2ui-popup {
    width: 300px !important;
  }
}
